<form class="contact-form contact-form-ninja contact-form-header">
  <div *ngIf="authService.getAuthorized$()|async else loginForm" >
    <h3>Welcome, {{(authService.getUserInfo$() | async)?.userName}}</h3>
  </div>
  <ng-template #loginForm>
    <h3>Login</h3>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" id="contact_firstname">
          <label for="contact_firstname">Email</label>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="contact_lastname">
            <label for="contact_lastname">Password</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="button btn-block text-center marg-20-top btn-square" (click)="onLoginClick()">Login</button>
        </div>
      </div>
  </ng-template>


</form>
