<!-- begin:topbar -->
<div id="topbar" class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="nav-utility">
          <span class="nav-item"><i class="fa fa-map-marker"></i> Lithia, FL</span>
          <span class="nav-item"><i class="fa fa-envelope-o"></i> juracan@gmail.com</span>
        </div><!-- .nav-utility -->
      </div><!-- .col-sm-8 -->
      <div class="col-sm-4 hidden-xs">
        <div class="nav-utility nav-right">
          <a class="nav-item" href="#"><i class="fa fa-twitter"></i></a>
          <a class="nav-item" href="#"><i class="fa fa-facebook"></i></a>
          <a class="nav-item" href="#"><i class="fa fa-instagram"></i></a>
          <a class="nav-item" href="#"><i class="fa fa-linkedin"></i></a>
        </div><!-- .nav-utility -->
      </div><!-- .col-sm-4 -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .topbar -->
<!-- end:topbar -->
